.start_page {
  padding: 120px 0;
  svg {
    &.pig{
      display: flex;
      margin: 120px auto;
      width: 128px;
      height: 128px;
    }
  }
  button {
    width: calc(100% - 32px);
    margin: 0 16px;
    &_wrapper {
      padding: 16px 16px;
    }
  }
  
  
  .navIcon {
    width: 30px;
    height: 30px;
    position: relative;
    top: 2px;
  }
}